<div class="section">
  <span class="template-name">example/foo.hbs</span>

  {{#portal-content for="header"}}
    <div id="foo-header" class="header">
      Foo Header - defined in example/foo.hbs
    </div>
  {{/portal-content}}

  <p>
    This page uses a portal that does not exist.
  </p>

</div>